.Card {
  width: 20%;
  max-height: 50px;
  max-width: 50px;
  margin: 1px 1px auto;
  border: 1px solid #eee;
  box-shadow: 1px 2px 3px #ccc;
  padding: 25px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  background-color: rgb(236, 109, 18);
  cursor: pointer;
}
